{% extends "main/base.html" %} 
{% load static %} 
{% load template_extras %} 
{% block content %}

<div class="main__left">
  <h2><a href="#anchor-vision">Vision</a></h2>
  <h2><a href="#anchor-philosophy">Philosphy</a></h2>
  <h2><a href="#anchor-batteryrecycling">Battery Recycling</a></h2>
</div>

<div class="main__right">
  <h1 id="anchor-vision">Vision</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit dolor harum
    sapiente magni repudiandae sed esse accusamus reprehenderit. Nam quod
    repudiandae cupiditate, eum accusamus a repellendus libero nesciunt deserunt
    in sit obcaecati iste? Ullam harum natus molestias sequi? Expedita suscipit
    minima vel, harum ab ea illo earum repudiandae eaque possimus, ut rem
    laborum animi amet, esse beatae nam doloribus dolor quod placeat minus
    neque? Quia fugiat error cupiditate maxime voluptatum id, possimus
    voluptatibus, dolor esse nisi tempore vel tenetur asperiores magni ad
    voluptate modi deserunt! Culpa accusantium magnam illo. Rem doloribus
    possimus dolorum ex quasi! Exercitationem nostrum alias veniam numquam
    provident dolorum debitis natus qui tenetur obcaecati soluta veritatis ut
    sed, excepturi, repellendus doloremque, eveniet architecto possimus officiis
    ex omnis maxime fuga? Nemo rem consequuntur dolores officiis totam error
    hic, quaerat impedit voluptatum nesciunt dolorem. Odit dolorem ad saepe
    sapiente porro consequatur commodi voluptatem architecto nostrum hic quas
    voluptates, ratione error sunt asperiores cum nam? Laudantium, accusamus.
    Enim hic in culpa. Quam consequatur inventore, enim, a dolore itaque
    necessitatibus est nulla veritatis eligendi ipsam aspernatur ipsum tempore
    amet? Fuga, hic sit! Magni eveniet quasi tempore, quas voluptatum quam ullam
    quae, amet ab vero perferendis iure, facilis minima distinctio sed ad sit!
    Cumque iste quas ab amet maiores aspernatur eius sapiente asperiores unde
    rem sint accusantium libero nesciunt, dolorem dolorum rerum officia odio!
    Natus adipisci molestiae ut sit saepe sapiente, qui vitae magnam quo harum
    voluptatum fugiat quam rerum obcaecati quas, voluptate debitis esse? A illum
    nulla, laboriosam totam quam perferendis alias ad saepe officia laudantium
    aspernatur voluptate eveniet nostrum praesentium sequi numquam labore
    magnam. Reiciendis itaque enim iure quis eius autem voluptatibus labore
    numquam, earum illum nostrum, officiis repellat rerum mollitia architecto,
    aliquid eveniet nemo. Non laboriosam odio quam modi mollitia impedit
    voluptate dolorem consectetur quibusdam rem! Adipisci commodi, debitis
    perferendis, velit obcaecati odit ab ipsum quidem, dolor repudiandae
    voluptatum! Error officia dignissimos libero inventore unde laudantium
    reprehenderit consequatur doloremque ratione obcaecati? Ipsam natus sed
    fugiat, possimus consequuntur ea dolor nulla vel tenetur nihil adipisci a
    rerum iure rem laudantium magnam molestiae quasi ipsa iste quas
    reprehenderit tempora nostrum quidem pariatur? Ipsam exercitationem vel vero
    cupiditate rerum et delectus placeat quos error non. Deserunt commodi,
    repellendus voluptas veritatis ad obcaecati. Asperiores laboriosam ad
    repellat ullam doloremque commodi qui, iusto optio! Commodi error cum,
    accusamus labore ipsam ratione assumenda in iure quis laudantium id,
    incidunt aspernatur aperiam voluptates soluta veniam omnis sequi eius
    tempora dolor. Fuga eum suscipit tempore! Fugit quae unde iusto culpa dicta
    nulla eum cum id quibusdam! Officiis totam alias ab perspiciatis! Eos
    inventore esse maxime velit harum et eum eius, optio quasi quibusdam
    recusandae sed, numquam aspernatur modi dolorem libero reiciendis sapiente.
    Pariatur numquam porro incidunt blanditiis id? Ipsum fugiat distinctio,
    voluptate quis tempore deleniti accusamus culpa beatae consectetur
    repudiandae deserunt quidem inventore nulla voluptatem aspernatur dolorem
    error. Nobis obcaecati laborum ducimus? Porro itaque vitae necessitatibus
    esse dolores blanditiis maxime, ipsam perferendis veniam optio reiciendis
    magni velit sit ad quasi, eveniet fugit dolorum nostrum eius libero
    expedita.
  </p>
  <h1 id="anchor-philosophy">Philosophy</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, dignissimos
    rerum molestias expedita mollitia a vel quisquam tempora labore dolore nulla
    reprehenderit deleniti excepturi corporis? Ad magni sunt deleniti, minus
    cupiditate tenetur voluptatibus sit incidunt unde possimus pariatur
    repellendus velit libero quidem optio ex inventore, nam ipsam eaque in vitae
    dolorem placeat quibusdam. Veritatis dignissimos assumenda eveniet iste
    nemo. Maxime facilis, labore perferendis corrupti ipsam a reiciendis
    expedita dolore voluptatem totam sequi vel iste quidem at id dolorem,
    assumenda quia. Corrupti reiciendis in, mollitia culpa quo eum beatae
    consectetur excepturi, maxime, ea fugiat esse! Cum velit tenetur consequatur
    consectetur cumque eum veritatis animi eveniet ipsum ratione est, obcaecati
    quia hic, a cupiditate minima ducimus voluptatibus? Minus dicta odio, quae
    exercitationem architecto aut tempora, amet, quis molestias nesciunt
    perspiciatis voluptates adipisci odit? Laborum, ut error ullam alias, ipsum
    fuga voluptatem rerum recusandae maiores reprehenderit perferendis, quis
    laudantium architecto suscipit minima qui.
  </p>
  <div id="flush-center">
    <button class="button--home">Database Structure</button>
    <button class="button--home">API Documentation</button>
    <button class="button--home">Get Access</button>
  </div>
  <h1 id="anchor-batteryrecycling">Battery Recycling Process</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi tenetur quisquam recusandae temporibus accusantium veniam ea architecto reprehenderit quasi eius?</p>
</div>

{% endblock %}
