{% extends "main/base.html" %} 
{% load static %} 
{% load template_extras %} 
{% block content %}

<div class="main__left">
  <h2><a href="#anchor-vision">Vision</a></h2>
  <h2><a href="#anchor-philosophy">Philosophy</a></h2>
  <h2><a href="#anchor-batteryrecycling">Battery Recycling</a></h2>
</div>

<div class="main__right">
  <h1 id="anchor-vision">Vision</h1>
  <p>
    The city of Freiberg is home to several research institutes that have expertise
    along the recycling chain of Li-ion batteries: 
  </p>
  <ul>
    <li><a href="https://tu-freiberg.de/fakult4/mvtat">Institute of Mechanical Process Engineering and Mineral Processing (MVTAT)</a> at <a href="https://tu-freiberg.de/en">TUBAF</a></li>
    <li><a href="https://tu-freiberg.de/en/fakultaet2/tech">Institute of Chemical Technology (ITC)</a> at <a href="https://tu-freiberg.de/en">TUBAF</a></li>
    <li><a href="https://tu-freiberg.de/en/fakultaet2/angph">Institute for Applied Physics (IAP)</a> at <a href="https://tu-freiberg.de/en">TUBAF</a></li>
    <li><a href="https://www.hzdr.de/db/Cms?pNid=2423">Helmholtz Institute Freiberg for Resource Technology (HIF)</a> at <a href="https://www.hzdr.de/db/Cms?pNid=0">HZDR</a></li>
    <li><a href="https://www.ikts.fraunhofer.de/en.html">Fraunhofer Institute for Ceramic Technologies and Systems (IKTS)</a></li>
    <li><a href="https://www.iisb.fraunhofer.de/">Fraunhofer Institute for Integrated Systems and Device Technology (IISB)</a></li>
  </ul>


  <h1 id="anchor-philosophy">Philosophy</h1>
  <p>
    In order to evaluate the feasibility and effectiveness of recycling routes, a holistic approach needs to be taken that takes into account all processing steps from the end-of-life battery to the newly produced battery cell. Life cycle analyses often fall short in their predictive power because the avilable data on several processing steps is lacking at best. With the Data Mining Lab Freiberg, the recycling chain can be investigated as a whole and parameter changes can be transparently compared by ensuring a consistent data structure across experiments. Consistency is made sure by the inherent structure of the database. Learn more about it by clicking on <i>Database Structure</i>.
  </p>
  <p>
    The act of uploading a dataset to the database forces the researcher to think about the validity of their data. By providing research data to a wide audience, the quality of datasets will necessarily improve. Data is made available to interested third parties upon request. Data queries are made possible through a RESTful API. Learn more by following the link to the <i>API Documentation</i>.
  </p>
  <p>
    If you want to gain access to the data in the Data Mining Lab Freiberg or think you can provide meaningful addition to the processing technologies and want to become a partner institution, feel free to contact us via the <i>Get Access</i> button.
  </p>
  <div id="flush-center">
    <a href="{% url "database" %}"><button class="button--home button--home--spacing hide-on-mobile">Database Structure</button></a>
    <a href="{% url "api" %}"><button class="button--home button--home--spacing hide-on-mobile">API Documentation</button></a>
    <a href="{% url "contact" %}"><button class="button--home hide-on-mobile">Get Access</button></a>
  </div>

  <h1 id="anchor-batteryrecycling">Mechanical Battery Recycling Process</h1>
  <p>
    The <a href="https://tu-freiberg.de/fakult4/mvtat">Institute of Mechanical Process Engineering and Mineral Processing</a> has a decade of experience in the mechanical
    recycling of Li-ion batteries. The schematic below shows the "Freiberg Route" of mechanical battery recycling. 
    The processing route combines two crushing stages with separate classification steps, one mechanical (sieving) and one 
    air classification step (zig-zag sifter) per stage. The ideal end products are copper and aluminium foil concentrates 
    as well as black mass with all particles smaller than the sieve cuts of each stage. The black mass contains the metal oxides,
    with the valuable metals nickel, manganese, cobalt, and lithium.
  </p>
  <div id="flush-center">
    <img
      class="image__decorators__1"
      src="{% static 'main/images/recycling.svg' %}"
      alt="Schematic representation of the mechanical recycling process at MVTAT"
      title="Schematic representation of the mechanical recycling process at MVTAT"
    />
  </div>

</div>

{% endblock %}
