{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Mining Lab Freiberg Homepage</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'main/images/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static "main/css/normalize.css" %}"> <link
    rel="stylesheet" href="{% static "main/css/styles.css" %}">
  </head>

  <body>
    <div id="page-container">
      <div id="content-wrap">
        <header>
          <a href={% url "home" %}>
            <img class="nav__image" src="{% static "main/images/logo.svg" %}"
            alt="Logo">
          </a>
          <nav>
            <a href={% url "about" %}><button class="button--nav">About</button> </a>
            <a href="{% url "use" %}"><button class="button--nav hide-on-mobile">Use</button></a>
            <a href="{% url "create" %}"><button class="button--nav hide-on-mobile">Create</button></a>
            {% if user.is_authenticated %}
            <a href={% url "logout" %}><button class="button--nav button--nav--logout hide-on-mobile">Log Out</button></a>
            {% else %}
            <a href={% url "login" %}><button class="button--nav button--nav--login hide-on-mobile">Log In</button></a>
            {% endif %}
            <a href="{% url "database" %}"><button class="button--nav show-on-mobile">Database Structure</button></a>
            <a href="{% url "api" %}"><button class="button--nav show-on-mobile">API Documentation</button></a>
            <a href="{% url "contact" %}"><button class="button--nav show-on-mobile">Get Access</button></a>
          </nav>
        </header>
        <main>
            {% block content %}

            {% endblock %}
        </main>
      </div>
      <footer id="footer">
        <a class="link--footer" href={% url "home" %}>Home</a>
        <a class="link--footer" href={% url "contact" %}>Contact</a>
        <a class="link--footer" href={% url "about" %}>About</a>
        <a class="link--footer" href={% url "impressum" %}>Impressum</a>
      </footer>
    </div>
  </body>
</html>