{% extends "main/base.html" %} 
{% load static %} 
{% load template_extras %} 
{% block content %}

<div class="main__left"></div>

<div class="main__right">
  <h1>Impressum</h1>
  <p>TU Bergakademie Freiberg</p>
  <p>
    Institute of Mechanical Process Engineering and Mineral Processing<br />
    <a href="https://tu-freiberg.de/fakult4/mvtat" target="_blank">tu-freiberg.de/fakult4/mvtat</a><br />
  </p>
  <p>
    <a href="mailto:thomas.buchwald@mvtat.tu-freiberg.de" target="_blank">thomas.buchwald@mvtat.tu-freiberg.de</a><br />
    +49 3731 39-2453
  </p>
  <p>
    Agricolastr. 1<br />
    09599 Freiberg<br />
    Germany
  </p>
</div>

{% endblock %}
