{% extends "main/base.html" %} 
{% load static %} 
{% load template_extras %} 
{% block content %}

<div class="main__left">
  <h2 class="h2--home">Get and Use Data</h2>
  <button class="button--home">Database Structure</button>
  <button class="button--home">API Documentation</button>
  <button class="button--home">Get Access</button>
  <h2 class="h2--home">Create New Data</h2>
  <a href="{% url "sample_create" %}"><button class="button--home">New Sample</button></a>
  <a href="{% url "experiment_create" %}"><button class="button--home">New Experiment</button></a>
</div>

<div class="main__right">
  <div id="flush-center">
    <img
      class="image__homepage"
      src="{% static 'main/images/schematic.svg' %}"
      alt="Schematic representation of the recycling process from a used battery to a new jelly roll"
    />
  </div>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque dolorem
    aspernatur fuga perspiciatis nam similique sunt quis laborum, inventore
    atque unde necessitatibus molestias aut ad, totam cupiditate accusantium
    dolorum repudiandae quod beatae iste, pariatur quo mollitia. Dolor, porro
    accusantium inventore praesentium quaerat quisquam eum rerum dolorum culpa
    error, amet quas.
  </p>
  <div id="flush-right">
    <a href={% url "about" %}><button class="button--home button--home--cta">Learn More</button></a>
  </div>
</div>

{% endblock %}
