{% extends "main/base.html" %} 
{% load static %} 
{% load template_extras %}
{% load widget_tweaks %} 
{% block content %}

<div class="main__left">

  <h2 class="h2--home">Samples</h2>
  <a href="{% url "fundingbody_list" %}"><button class="button--home">Funding Bodies List</button></a>
  <a href="{% url "fundingbody_create" %}"><button class="button--home">New Funding Body</button></a>

  <h2 class="h2--home">Create Data</h2>
  <a href="{% url "sample_create" %}"><button class="button--home button--home--secondary">New Sample</button></a>
  <a href="{% url "experiment_create" %}"><button class="button--home button--home--secondary">New Experiment</button></a>

  {% if request.user|has_group:"AdminGroup" %}
    <a href="{% url "fundingbody_create" %}"><button class="button--home button--home--secondary">New Funding Body</button></a>
    <a href="{% url "method_create" %}"><button class="button--home button--home--secondary">New Method</button></a>
    <a href="{% url "project_create" %}"><button class="button--home button--home--secondary">New Project</button></a>
    <a href="{% url "staff_create" %}"><button class="button--home button--home--secondary">New Staff Member</button></a>
    <a href="{% url "user_create" %}"><button class="button--home button--home--secondary">New User</button></a>
  {% endif %}

</div>

<div class="main__right">

  <h1>{{ fundingbody.name }}</h1>
  <ul>
      <li>Name: {{ fundingbody.name }}</li>
  </ul>

  <a href="{% url 'fundingbody_update' fundingbody.pk %}"><button class="button--form">Update</button></a>
  <a href="{% url 'fundingbody_delete' fundingbody.pk %}"><button class="button--form button--form--secondary">Delete</button></a>

</div>

{% endblock %}
