{% extends "main/base.html" %} 
{% load static %} 
{% load template_extras %}
{% load widget_tweaks %} 
{% block content %}

<div class="main__left">

  <h2 class="h2--home">Methods</h2>
  <a href="{% url "method_list" %}"><button class="button--home">Methods List</button></a>
  <a href="{% url "method_create" %}"><button class="button--home">New Method</button></a>

  <h2 class="h2--home">Create Data</h2>
  <a href="{% url "sample_create" %}"><button class="button--home button--home--secondary">New Sample</button></a>
  <a href="{% url "experiment_create" %}"><button class="button--home button--home--secondary">New Experiment</button></a>
  <a href="{% url "sample_info_choose" %}"><button class="button--home button--home--secondary">Create Sample Info</button></a>
  
  {% if request.user|has_group:"AdminGroup" %}
    <a href="{% url "fundingbody_create" %}"><button class="button--home button--home--secondary">New Funding Body</button></a>
    <a href="{% url "method_create" %}"><button class="button--home button--home--secondary">New Method</button></a>
    <a href="{% url "project_create" %}"><button class="button--home button--home--secondary">New Project</button></a>
    <a href="{% url "staff_create" %}"><button class="button--home button--home--secondary">New Staff Member</button></a>
    <a href="{% url "user_create" %}"><button class="button--home button--home--secondary">New User</button></a>
  {% endif %}

</div>

<div class="main__right">

    <h1>Delete {{ method.name }}</h1>
    
    <p>Are you sure you want to delete this method?</p>
    <ul>
      <li>Institute: {{ method.institute }}</li>
      <li>Method File: {{ method.method_file.url }}</li>
      <li>Date Registered: {{ method.date_registered }}</li>
    </ul>

    <div id="flush-left">
      <form method="post">
        {% csrf_token %}
        <button type="submit" class="button--form button--form--secondary">Delete</button>
      </form>
      <a href="{% url 'method_detail' method.pk %}"><button class="button--form">Cancel</button></a>
    </div>

</div>

{% endblock %}
