{% extends "main/base.html" %} 
{% load static %} 
{% load template_extras %}
{% load widget_tweaks %} 
{% block content %}

<div class="main__left">

  <h2 class="h2--home">Samples</h2>
  <a href="{% url "sample_list" %}"><button class="button--home">Samples List</button></a>
  <a href="{% url "sample_create" %}"><button class="button--home">New Sample</button></a>

  <h2 class="h2--home">Create Data</h2>
  <a href="{% url "sample_create" %}"><button class="button--home button--home--secondary">New Sample</button></a>
  <a href="{% url "experiment_create" %}"><button class="button--home button--home--secondary">New Experiment</button></a>
  <a href="{% url "sample_info_choose" %}"><button class="button--home button--home--secondary">Create Sample Info</button></a>
  
  {% if request.user|has_group:"AdminGroup" %}
    <a href="{% url "fundingbody_create" %}"><button class="button--home button--home--secondary">New Funding Body</button></a>
    <a href="{% url "method_create" %}"><button class="button--home button--home--secondary">New Method</button></a>
    <a href="{% url "project_create" %}"><button class="button--home button--home--secondary">New Project</button></a>
    <a href="{% url "staff_create" %}"><button class="button--home button--home--secondary">New Staff Member</button></a>
    <a href="{% url "user_create" %}"><button class="button--home button--home--secondary">New User</button></a>
  {% endif %}

</div>

<div class="main__right">
 
  <h1>Choose Sample Type</h1>
  <form action="{% url 'sample_info_create' %}" method="get">
    <div>  
    <label for="sample_type" class="form-group__label">Sample Type:</label>
      <select id="sample_type" name="sample_type">
          {% for type in sample_types %}
              <option value="{{ type.id }}">{{ type.name }}</option>
          {% endfor %}
      </select>
    </div>
      <button type="submit" class="button--form">Continue</button>
  </form>

  

  {% if form.errors %}
    <div class="alert">
        {{ form.errors }}
    </div>
  {% endif %}
</div>

{% endblock %}
