{% extends "main/base.html" %} 
{% load static %} 
{% load template_extras %}
{% load widget_tweaks %} 
{% block content %}

<div class="main__left">

  <h2 class="h2--home">Staff</h2>
  <a href="{% url "staff_list" %}"><button class="button--home">Staff List</button></a>
  <a href="{% url "staff_create" %}"><button class="button--home">New Staff Member</button></a>

  <h2 class="h2--home">Create Data</h2>
  <a href="{% url "sample_create" %}"><button class="button--home button--home--secondary">New Sample</button></a>
  <a href="{% url "experiment_create" %}"><button class="button--home button--home--secondary">New Experiment</button></a>
  <a href="{% url "sample_info_choose" %}"><button class="button--home button--home--secondary">Create Sample Info</button></a>
  
  {% if request.user|has_group:"AdminGroup" %}
    <a href="{% url "fundingbody_create" %}"><button class="button--home button--home--secondary">New Funding Body</button></a>
    <a href="{% url "method_create" %}"><button class="button--home button--home--secondary">New Method</button></a>
    <a href="{% url "project_create" %}"><button class="button--home button--home--secondary">New Project</button></a>
    <a href="{% url "staff_create" %}"><button class="button--home button--home--secondary">New Staff Member</button></a>
    <a href="{% url "user_create" %}"><button class="button--home button--home--secondary">New User</button></a>
  {% endif %}

</div>

<div class="main__right">

  <h1>Staff</h1>

  <p>
      Sort by:
      <a href="?sort_by=first_name">First Name</a> |
      <a href="?sort_by=first_name_desc">First Name (desc)</a> |
      <a href="?sort_by=last_name">Last Name</a> |
      <a href="?sort_by=last_name_desc">Last Name (desc)</a>
  </p>
  <p>
      Select:
      <a href="?institute=true">Own Institute</a> |
      <a href="?institute=false">All Institutes</a>
  </p>
  
  <ul>
      {% for staff_member in staff %}
      <li><a href="{% url 'staff_detail' staff_member.pk %}">{{ staff_member.first_name }} {{ staff_member.last_name }}</a></li>
      {% endfor %}
  </ul>

</div>

{% endblock %}
